<section id="Contenedor" style="padding-top: 6%;" style="background-color: black;">

    <div class="container text-center">
       <div class="row" style="padding: 5% 10% 5% 10%;">
  
         <div class="col" style="background-color: black;" style="padding-top: 6%;">
           <div class="card" style="width: 100%;">
               <img src="../../../assets/Imagenes/LebronXX.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">Lebron XX</h5>
                 <p class="card-text" style= "text-align: left">En una carrera que ha superado las mayores expectativas, LeBron James se ha negado a conformarse con menos que la grandeza, incluso cuando fue él quien marcaba el estándar para las generaciones futuras. El LeBron 20 es más ligero, pegado al suelo y con una potencia tipo turbo. Es totalmente diferente a todo lo que hizo LeBron anteriormente.</p>
                 <a href="#" class="btn btn-primary">Adquierelo ahora</a>
               </div>
            </div>
         </div>
  
  
  
         <div class="col" style="background-color: black;" style="padding-top: 6%;">
           <div class="card" style="width: 100%;">
               <img src="../../../assets/Imagenes/Kobe6.jpeg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title"><br><br>Kobe 6 Protro "Grinch"</h5>
                 <p class="card-text" style= "text-align: middle">A primera vista, los Nike Kobe 6 Grinch parecen idénticos al par OG de 2011: upper en verde lima con textura de escamas, homenaje al apodo Black Mamba de Kobe. El swoosh negro, la marca de Kobe en rojo en la lengüeta y la suela verde translúcida acentúan la estética de reptil.</p>
                 <a href="#" class="btn btn-primary">Adquierelo ahora</a>
               </div>
           </div>
         </div>
   
  
         <div class="col" style="background-color: black;" style="padding-top: 6%;" >
           <div class="card" style="width: 100%;">
               <img src="../../../assets/Imagenes/Jordan1.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title"><br><br>Jordan 1 Retro High OG</h5>
                 <p class="card-text" style= "text-align: right">Jordan Brand rindió homenaje al alma mater de MJ con el Air Jordan 1 High University Blue. La combinación de colores University Blue ocupa un lugar destacado en la historia del Jordan 1. El primer Jordan 1 inspirado en la UNC se remonta a 1985.</p>
                 <a href="#" class="btn btn-primary">Adquierelo ahora</a>
               </div>
            </div>
         </div>
   
  
       </div>
     </div>
   </section>
  

   <section id="Contenedor_Tenis" style="padding-top: 1%;">
    <div class="container text-center">
    
    <div class="row align-items-start">
    
      <div style="background-color:  black; width: 30%;">
        <div class="card" style="width: 18rem; background-color: black;">
            <div class="card-body">
              <h5 class="card-title" style="color: white; ">TOP ONE KIK$</h5>
              <img style="padding-left: 13%;" src="../../../assets/Imagenes/Travis.jpg" class="img-fluid" alt="...">
             
            </div>
        </div>
      </div>
    
      <div class="col" style="background-color: black; width: 100%; padding-top: 4.4%;">
        <div class="card" style="width: 100%;" style="background-color: black; width: 100%;">
            <div class="card-body">
              <h5 class="card-title" style="color: white; ">Air Force One Travis Scott</h5>
              <p class="card-text" style="color: white; padding-bottom: 6.5%;"><br><br>Los Travis Scott Air Force 1 pueden presentar una parte superior de color crema, pero están lejos de ser aburridos. Presentados con detalles tan únicos que hicieron que el primer lanzamiento fuera muy especial, el segundo lanzamiento resultó igual de popular.</p>
            </div>
        </div>
      </div>
    
    </div>
    </div>
    </section>

  
  <section id="Contenedor3" style="Padding-top: 0%;">
    <div class="container text-center">
    <div class="row align-items-start">
    
    
      <div style="background-color:  black; width: 70%">
        <div class="card" style="width: 100%;" style="background-color:  black; width: 70%">
            <div class="card-body">
              <h5 class="card-title" style="color: white;padding-top: 3.8%;">Adidas Samba</h5>
              <p class="card-text" style="color: white;  padding-top: 10%; padding-bottom: 15%;">Si bien fue el primer modelo manufacturado por la marca alemana, las adidas Samba han sido para muchos unas zapatillas relegadas a un segundo plano a favor de modelos que han gozado de una gloria y prensa propias a lo largo de las décadas. Piensa en las Stan Smith, las Superstar, las Gazelle y, en este último lustro, las Yeezy. Sin embargo, en 2021, este modelo ha reivindicado su espacio propio en el zapatero de los que más saben de moda… y parece que ha triunfado en su cometido.</p>
            </div>
       </div>
      </div>
    
      <div class="col" style="background-color: black;">
        <div class="card" style="background-color: black;">
            <div class="card-body">
              <img src="../../../assets/Imagenes/Adidas.jpg" class="img-fluid" alt="...">
              <h5 class="card-title">Titulo3</h5>
            </div>
        </div>
      </div>
    
      
    
    </div>
    </div>
    </section>
