<section
img src="..." class="img-fluid" alt="...">


</section>

<section
 class="container text-center">
    <div class="row align-items-start">
      <div class="col" style="background-color: blue;">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lebron XX</h5>
              <p class="card-text">Durante dos décadas, en una carrera que ha superado las mayores expectativas, LeBron James se ha negado a conformarse con menos que la grandeza, incluso cuando fue él quien marcaba el estándar para las generaciones futuras. El LeBron 20 es más ligero, pegado al suelo y con una potencia tipo turbo. Es totalmente diferente a todo lo que hizo LeBron anteriormente.</p>
              <a href="#" class="btn btn-primary">Adquierelo ahora</a>
            </div>
          </div>
      </div>
      <div class="col" style="background-color: brown;">
        <div class="card" style="width: 18rem;">
            <img src="/Imagenes/Osito.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kobe 6 Protro "Grinch"</h5>
              <p class="card-text">A primera vista, los Nike Kobe 6 Grinch parecen idénticos al par OG de 2011: upper en verde lima con textura de escamas, homenaje al apodo Black Mamba de Kobe. El swoosh negro, la marca de Kobe en rojo en la lengüeta y la suela verde translúcida acentúan la estética de reptil.</p>
              <a href="#" class="btn btn-primary">Adquierelo ahora</a>
            </div>
          </div>
      </div>
      <div class="col" style="background-color: blueviolet;">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jordan 1 Retro High OG</h5>
              <p class="card-text">Jordan Brand rindió homenaje al alma mater de MJ con el Air Jordan 1 High University Blue. La combinación de colores University Blue ocupa un lugar destacado en la historia del Jordan 1. El primer Jordan 1 inspirado en la UNC se remonta a 1985, cuando debutó el Jordan 1. Desde entonces, ha habido numerosas versiones del UNC 1, más recientemente el Jordan 1 Retro High Fearless UNC To Chicago. Jumpman se basa en su pasado y lo actualiza esta semana con una nueva versión.</p>
              <a href="#" class="btn btn-primary">Haz clic aqui</a>
            </div>
          </div>
      </div>
    </div>
</section>

<section
class="container text-center">
<div class="row align-items-start">
  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lebron XX</h5>
          <p class="card-text">Durante dos décadas, en una carrera que ha superado las mayores expectativas, LeBron James se ha negado a conformarse con menos que la grandeza, incluso cuando fue él quien marcaba el estándar para las generaciones futuras. El LeBron 20 es más ligero, pegado al suelo y con una potencia tipo turbo. Es totalmente diferente a todo lo que hizo LeBron anteriormente.</p>
          <a href="#" class="btn btn-primary">Adquierelo ahora</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="/Imagenes/Osito.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kobe 6 Protro "Grinch"</h5>
          <p class="card-text">A primera vista, los Nike Kobe 6 Grinch parecen idénticos al par OG de 2011: upper en verde lima con textura de escamas, homenaje al apodo Black Mamba de Kobe. El swoosh negro, la marca de Kobe en rojo en la lengüeta y la suela verde translúcida acentúan la estética de reptil.</p>
          <a href="#" class="btn btn-primary">Adquierelo ahora</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jordan 1 Retro High OG</h5>
          <p class="card-text">Jordan Brand rindió homenaje al alma mater de MJ con el Air Jordan 1 High University Blue. La combinación de colores University Blue ocupa un lugar destacado en la historia del Jordan 1. El primer Jordan 1 inspirado en la UNC se remonta a 1985, cuando debutó el Jordan 1. Desde entonces, ha habido numerosas versiones del UNC 1, más recientemente el Jordan 1 Retro High Fearless UNC To Chicago. Jumpman se basa en su pasado y lo actualiza esta semana con una nueva versión.</p>
          <a href="#" class="btn btn-primary">Haz clic aqui</a>
        </div>
      </div>
  </div>
</div>
</section>