<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          INNVICTUS
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d923.8055165985825!2d-101.0052158!3d22.1556175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842a9f35f01e7859%3A0xe1da6bfc516ee150!2sTAF!5e0!3m2!1ses-419!2smx!4v1697734938628!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
         <div class="accordion-body">nnovasport nace en Monterrey, Nuevo León abriendo su primera sucursal en Abril de 1999 en la Colonia Contry a un costado de Soriana Contry.

            A lo largo de 14 años, se ha conservado un crecimiento sostenido y una presencia remarcada en el norte, occidente, noreste y centro de la República Mexicana.
            
            Este crecimiento y presencia nacional en conjunto con nuestro catálogo de proveedores y filosofía de servicio al cliente resumen un trabajo estratégico que destaca a nivel mundial dentro de la industria./div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
         ONE KICKS
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d923.8055165985825!2d-101.0052158!3d22.1556175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842a9f35f01e7859%3A0xe1da6bfc516ee150!2sTAF!5e0!3m2!1ses-419!2smx!4v1697734938628!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        <div class="accordion-body">La empresa fue fundada el 25 de enero de 1964 como "Blue Ribbons Sports" por Phil Knight y Bill Bowerman,​ y se convirtió oficialmente en Nike Inc., el 30 de mayo de 1971. Nike comercializa sus productos bajo su propia marca, así como bajo Nike Golf, Nike Pro, Nike+, Air Jordan, Nike Skateboarding, Hurley International y Converse, Nike CR7,10​ entre otras.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          TAF
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d923.8055165985825!2d-101.0052158!3d22.1556175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842a9f35f01e7859%3A0xe1da6bfc516ee150!2sTAF!5e0!3m2!1ses-419!2smx!4v1697734938628!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        <div class="accordion-body"> TAF®,  la cadena especializada en calzado de moda urbano y lifestyle que forma parte de Grupo AXO desde el 2019, inició su historia en México hace más de 20 años; logró llevar su presencia a 29 estados de la república mexicana con 151 tiendas de ‘sneakers’, de las cuales 124 son TAF, 24 son concepto Kids y 3 Outlets, para todos los gustos y generaciones, además de su tienda en línea.</div>
      </div>
    </div>
  </div>



 